.container {
  max-width: 890px;
  margin: 0 auto;
}
header {
  background-image: url("../images/barbie.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 130px 0 150px 0;
}
header h1 {
  font-family: "Lobster", cursive;
  color: white;
  -webkit-text-stroke-width: 0.01px;
  -webkit-text-stroke-color: #f1048d;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  text-shadow: 6px 6px 0px #f1048d;
  margin: 0;
}

header h2 {
  font-family: "Poppins", sans-serif;
  color: #f1048d;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 20px;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  color: #f1048d;
  font-family: "Poppins", sans-serif;
}

header a:hover {
  background-color: #f1048d;
  color: white;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 60px;
  }
  header h2 {
    font-size: 20px;
  }
}
